<!DOCTYPE html>
<html lang="en">
    <head>
			<title><%= title %></title>
			
			<meta name="description" content="Website" /> 
			<meta name="keywords" content="Website basic made with prevjs" />

		   
		   <link rel="stylesheet" type='text/css' href="<%= path %>css/internal/style.css" /> 
		   <script type="text/javascript" src="<%= path %>js/internal/script.js"></script>

   </head>
    <body>