<!DOCTYPE html>
<html lang="en">
    <head>
			<title><%= title %></title>
			
			<meta name="description" content="Website" /> 
			<meta name="keywords" content="Website basic made with prevjs" />

		   
		   <link rel="stylesheet" type='text/css' href="<%= path %>css/internal/style.css" /> 
		   <script type="text/javascript" src="<%= path %>js/internal/script.js"></script>
		   
		   <script>
			    let webSocket = new WebSocket("ws://localhost:7071");
			  
			
			    webSocket.onmessage = (event) => {
			     
			     	//alert(event.data);
			     	location.reload();
			     	
			    };

		   </script> 

   </head>
    <body>
    
    <div class="logo-part">
    <img src="<%= path %>images/logoipsum-265.png" alt="Logo" />
    </div>