<!DOCTYPE html>
<html lang="en">
    <head>
				<title>About</title>
    			
    			<meta name="description" content="This is a SAAS business" /> 
				<meta name="keywords" content="about us, team" />
    	
    	
    			<%- include ('../PARTIALS/header', {path: "../" }); %>

				<link rel="stylesheet" type='text/css' href="<%= siteobj.urlpath %>css/internal/aboutus.css" /> 

    </head>
    
    <body>
    
    <%- include ('../PARTIALS/menu', {path: "../" }); %>

     <!-- Page contents starts here -->

     <section class="pdl_page_section pdl_py-3">
        <div class="pdl_container container pdl_py-2">
            <div class="text-center">
                <div class="pdl_HeroStyle_home_hero_main_content pdl_HeroStyle_home_hero_main_contentWrapper d-flex flex-column justify-content-between w-lg-75 mx-auto">
                    <div class="pdl_duo_leadspace_large__headline w-100 pdl_mb_2">
                        <h1 class="pdl__section_heading_05 d-block pb-0 mt-5 h1 text-center">About Us</h1>
                    </div>
                    <div class="pdl_duo_leadspace_large__subhead pt-3">
                        <div class="w-100 pt-3 pt-lg-0">
                            <p class="d-block mb-0 pdl_fw_300 pdl_fs_20"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus laborum quaerat distinctio! Doloremque consequuntur laudantium soluta alias eius maxime expedita </span></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

        <div class="pdl_pt-3">
            <section class="pdl_mainSection position-relative">
                <div class="pdl_container container pdl_py-2">
                    <div class="pdl_mainSectionWrapper">
                        <div class="pdl_mainSection_contentwrapper">
                            <div class="pdl_HeroStyle_mainSection_content d-flex flex-column justify-content-between w-100">
                                    <div class="pdl_HeroStyle_mainSection_contentTop">
                                        <div class="pdl_HeroStyle_mainSection__headline pdl_wd-12 pdl_mb_2 px-0">
                                            <h1 class="pdl__section_heading d-block pb-0 mt-5 h1">Contact Us</h1>
                                        </div>
                                        <div class="pdl_duo_leadspace_large__subhead pt-3">
                                            <div class="pdl_wd-12 col-lg-10 col-xlg-12 px-0 pt-3 pt-lg-0">
                                                <p class="d-block mb-0 pdl_fw_300"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus laborum quaerat distinctio!</span></p>
                                            </div>
                                        </div>
                                        <div class="pdl_conetent_section">
                                            <h3 class="pdl_conetent_sectionLabel">Office address</h3>
                                            <p>21G, Natus laborum quaerat distinctio, <br/> Doloremque consequuntur laudantium soluta alias eius, USA </p>
                                        </div>
                                        <div class="pdl_conetent_section">
                                            <h3 class="pdl_conetent_sectionLabel">Contact Information</h3>
                                            <p> <span class="pdl_contact_label">Contact:</span> +112 12345678 </p>
                                            <p> <span class="pdl_contact_label">Email:</span> contact@gmail.com</p>
                                            <p> <span class="pdl_contact_label">Support:</span> support@gmail.com </p>
                                        </div>
                                    </div>
                                    <div class="pdl_HeroStyle_mainSection_contentBottom">

                                    </div>
                            </div>
                        </div>
                        <div class="pdl_mainSection_imgwrapper">
                            <div class="pdl_mainSection_imgitem">

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

      <!-- Page contents ends here -->
 	
 	
  
 	
 <%- include ('../PARTIALS/footer', {siteobj: siteobj,path: "./" }); %>
 