    <footer>

        <div class="pdl_container container pdl_py-2">
            <div class="pdl_d-md-flex pdl_align-items-center pdl_justify_between">
                <div class="pdl_footer_logoWrapper pdl_logowrapper my-auto">
                    <img src="/images/footer_logo.png" alt="logo" class="img-fluid" />
                </div>
                <div class="pdl_footer_Social_linkswrapper pdl_d-flex pdl_align-items-center pdl_flex-wrap w-100 pdl_justify_md_end">
                    <div class="pdl_footer_Social_links">
                        <a href="#" target="_blank" class="text-white">YouTube</a>
                    </div>
                    <div class="pdl_footer_Social_links">
                        <a href="#" target="_blank" class="text-white">LinkedIn</a>
                    </div>
                    <div class="pdl_footer_Social_links">
                        <a href="#" target="_blank" class="text-white">Facebook</a>
                    </div>
                    <div class="pdl_footer_Social_links">
                        <a href="#" target="_blank" class="text-white">Twitter</a>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <script src="/js/internal/script.js"></script>


</body>

</html>