 <header>
        <div class="pdl_container container pdl_py-2 pdl_page_section">
            <div class="nav">
                <input type="checkbox" id="nav-check">
                <div class="nav-header">
                    <div class="nav-brand">
                        <img src="/images/header_logo.png" alt="logo" class="img-fluid" />
                    </div>
                </div>
                <div class="nav-btn">
                    <label for="nav-check">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>
                
                <div class="nav-links">
                    <a href="/index">Home</a>
                    <a href="/about">About Us</a>
                    <a href="/pricing">Pricing</a>
                </div>
          </div>
        </div>
    </header>